<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario del Socio</title>
</head>
<body>
<h2>Registrar información del socio</h2>

<form th:action="@{/socio/guardar}" method="post">
    <input type="hidden" name="idSocio" th:value="${idSocio}">

    <label>Observación:</label><br>
    <textarea name="observacion" required></textarea><br><br>

    <label>Tipo de visita:</label><br>
    <input type="text" name="tipoVisita" required><br><br>

    <label>Monto:</label><br>
    <input type="number" name="monto" required><br><br>

    <button type="submit">Guardar</button>
</form>

<a href="/zonas">Cancelar</a>
</body>
</html>
